<h2>{{ 'kpi.title' | translate }}</h2>
<form [formGroup]="kpiForm">
  <div formArrayName="kpis">
    <div *ngFor="let complement of kpis.controls; let i = index">
      <button
        class="btn btn-danger"
        (click)="deleteKpi(complement, i)"
      >
        {{ 'button.remove' | translate }}
      </button>
      <div [formGroupName]="i" class="form-floating mt-3 mb-4">
        <input
          class="form-control"
          id="{{ 'kpiName' + i }}"
          formControlName="name"
          type="text"
        />
        <label for="{{ 'kpiName' + i }}" class="field-label">{{
          'kpi.name' | translate
          }}</label>
      </div>
      <div [formGroupName]="i" class="form-floating mt-3 mb-4">
            <textarea
              class="form-control"
              style="height: 100px"
              id="{{ 'kpiDescription' + i }}"
              formControlName="description"
            ></textarea>
        <label for="{{ 'kpiDescription' + i }}" class="field-label">{{
          'kpi.description' | translate
          }}</label>
      </div>
      <div class="d-flex">
        <label for="{{ 'kpiDescription' + i }}" class="field-label-check">{{
          'kpi.completed' | translate
          }}</label>
        <div [formGroupName]="i" class="form-floating mt-3 mb-4 ">
          <input
            id="{{ 'kpiCompleted' + i }}"
            formControlName="completed"
            type="checkbox"
            class="checkbox-element"
          />
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-success" (click)="addKpi()">
    {{ 'button.add' | translate }}
  </button>
  <button
    class="btn btn-outline-success"
    (click)="saveKpi()"
  >
    {{ 'button.save' | translate }}
  </button>
</form>
