<h2>{{ 'teacher.title' | translate }}</h2>
<form [formGroup]="teacherForm">
  <div formArrayName="teachers">
    <div *ngFor="let complement of teachers.controls; let i = index">

      <div [formGroupName]="i" class="form-floating mt-3 mb-4">

        <input
          formControlName="id"
          class="form-control"
          id="{{ 'brand' + i }}"
          name="{{ 'brand' + i }}"
          placeholder=" "
          type="number"
        />
        <label for="{{ 'brand' + i }}" class="field-label">{{
          'teacher.id' | translate
          }}</label>
      </div>

      <div [formGroupName]="i" class="form-floating mt-3 mb-4">

        <input
          formControlName="name"
          class="form-control"
          id="{{ 'brand' + i }}"
          name="{{ 'brand' + i }}"
          placeholder=" "
          type="text"
        />
        <label for="{{ 'brand' + i }}" class="field-label">{{
          'teacher.name' | translate
          }}</label>
      </div>

      <div [formGroupName]="i" class="form-floating mt-3 mb-4">

        <input
          class="form-control"
          id="{{ 'brand' + i }}"
          formControlName="email"
          type="email"
        />
        <label for="{{ 'brand' + i }}" class="field-label">{{
          'teacher.email' | translate
          }}</label>
      </div>
      <div [formGroupName]="i" class="form-floating mt-3 mb-4">
        <input
          class="form-control"
          id="{{ 'brand' + i }}"
          formControlName="phone"
          type="number"
        />
        <label for="{{ 'brand' + i }}" class="field-label">{{
          'teacher.phone' | translate
          }}</label>
      </div>

      <button
        class="btn btn-danger mb-2"
        (click)="deleteTeacher(complement, i)"
      >
        {{ 'button.remove' | translate }}
      </button>
    </div>
  </div>
  <button class="btn button-primary" (click)="addTeacher()">
    {{ 'button.add' | translate }}
  </button>
</form>
