<form class="form-container" [formGroup]="projectForm">
  <section>
    <h1>
      {{ 'project.register' | translate }}
    </h1>
  </section>
  <div class="row">
    <div class="form-floating mb-3 col-12 col-md-6 left-input-form">
      <input
        class="form-control"
        id="projectName"
        name="name"
        placeholder=" "
        type="text"
        formControlName="name"
      />
      <label for="projectName" class="field-label">{{
        'project.name' | translate
        }}</label>
    </div>
    <div class="form-floating mb-3 col-12 col-md-6 right-input-form">
      <input
        class="form-control"
        id="projectLastName"
        name="lastName"
        placeholder=" "
        type="text"
        formControlName="document"
      />
      <label for="projectLastName" class="field-label">{{
        'project.document' | translate
        }}</label>
    </div>
  </div>

  <div class="component-wrapper">
    <app-udea-comment-creation [commentForm]="commentForm"></app-udea-comment-creation>
  </div>

  <div class="component-wrapper">
    <app-udea-kpi-creation [kpiForm]="kpiForm"></app-udea-kpi-creation>
  </div>

  <div class="component-wrapper">
    <app-udea-student-assignment [studentForm]="studentForm"></app-udea-student-assignment>
  </div>

  <div class="component-wrapper">
    <app-udea-teacher-assignment [teacherForm]="teacherForm"></app-udea-teacher-assignment>
  </div>
  <section class="buttons-container">
    <button
      class="btn  button-primary m-2"
      type="submit"
      (click)="onSave()"
    >
      {{ 'button.save' | translate }}
    </button>
    <button
      class="btn btn-outline-danger"
      type="button"
    >
      {{ 'button.cancel' | translate }}
    </button>
  </section>
</form>
