.image-content {
  display: block;
  width: 70%;
  margin: 0 auto;

  @media (min-width: 576px) {
    width: 40%;
  }

  @media (min-width: 768px) {
    width: 30%;
  }
}

.principal-title {
  text-align: center;
  border-bottom: 0;
}
