<h2>{{ 'comment.title' | translate }}</h2>
<form [formGroup]="commentForm">
  <div formArrayName="comments">
      <div *ngFor="let complement of comments.controls; let i = index">
          <div [formGroupName]="i" class="form-floating mt-3 mb-4">
            <textarea
              class="form-control"
              style="height: 100px"
              id="{{ 'brand' + i }}"
              formControlName="content"
            ></textarea>
          </div>
        <button
          class="btn btn-danger mb-2"
          (click)="deleteComment(complement, i)"
        >
          {{ 'button.remove' | translate }}
        </button>
      </div>
  </div>
  <button class="btn button-primary" (click)="addComment()">
    {{ 'button.add' | translate }}
  </button>
</form>
