<form class="form-container" *ngIf="projectForm" [formGroup]="projectForm" >
  <section>
    <h1>
      {{projectForm.get('name')?.value}}
    </h1>
  </section>
  <div class="row" *ngIf="projectForm.get('name')?.value">
    <div class="form-floating mb-3 col-12 col-md-6 right-input-form">
      <input
        class="form-control"
        id="projectLastName"
        name="lastName"
        placeholder=" "
        type="text"
        formControlName="document"
      />
      <label for="projectLastName" class="field-label">{{
        'project.document' | translate
        }}</label>
    </div>
  </div>

  <div class="component-wrapper" *ngIf="commentForm">
    <app-udea-comment-creation [commentForm]="commentForm"></app-udea-comment-creation>
  </div>

  <div class="component-wrapper" *ngIf="kpiForm">
    <app-udea-kpi-creation [kpiForm]="kpiForm"></app-udea-kpi-creation>
  </div>

  <div class="component-wrapper" *ngIf="studentForm">
    <app-udea-student-assignment [studentForm]="studentForm"></app-udea-student-assignment>
  </div>

  <div class="component-wrapper" *ngIf="teacherForm">
    <app-udea-teacher-assignment [teacherForm]="teacherForm"></app-udea-teacher-assignment>
  </div>
  <div class="container">
    <h1>{{'project.graphic' | translate}}</h1>
    <app-udea-chart></app-udea-chart>
  </div>
  <section class="buttons-container">
    <button
      class="btn  button-primary m-2"
      type="submit"
      (click)="onSave()"
      [disabled]="!projectForm.valid"
    >
      {{ 'button.save' | translate }}
    </button>
    <button
      class="btn btn-outline-danger"
      type="button"
      [routerLink]="['/']"
    >
      {{ 'button.home' | translate }}
    </button>
  </section>
</form>


